@charset "utf-8";
/*!重置样式*/
body,
div,
p,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
th,
td,
header,
main,
footer,
section,
aside,
article {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #333;
}
i,
b {
  font-weight: normal;
  font-style: normal;
}
li {
  list-style-type: none;
}
img {
  display: inline-block;
}
a img {
  border: 0;
  vertical-align: middle;
}
input,
textarea {
  padding: 0px;
  margin: 0px;
}
input,
button,
select,
textarea {
  outline: none;
}
html,
body {
  width: 100%;
}
body {
  font: 12px/1.6 tahoma, arial, sans-serif;
  color: #333;
}
.wrapper {
  width: 1200px;
  margin: 0px auto;
}
.clearfix:after {
  /*伪元素是行内元素 正常浏览器清除浮动方法*/
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.left {
  float: left;
}
.right {
  float: right;
}
.cursor_pointer {
  cursor: pointer;
}
.inline_block {
  display: inline-block;
}
._block {
  display: block;
}
._width100 {
  width: 100%;
}
._height100 {
  height: 100%;
}
.pic_css1 {
  width: 100%;
  height: 100%;
  display: block;
}
.mgj_rightbar {
  /*!右侧导航栏*/
  width: 30px;
  height: 100%;
  font-size: 12px;
  color: #fff;
  background: #202020;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 8000;
}
.mgj_rightbar #mgj_rightbar_blank_div {
  height: 10%;
  width: 30px;
  position: relative;
  top: 0;
  right: 0;
}
.mgj_rightbar .mgj_my_home,
.mgj_rightbar .mgj_my_coupon,
.mgj_rightbar .mgj_my_wallet,
.mgj_rightbar .mgj_my_custom,
.mgj_rightbar .mgj_my_seller {
  position: relative;
  padding: 10px 4px 0;
  text-align: center;
}
.mgj_rightbar .mgj_my_home a,
.mgj_rightbar .mgj_my_coupon a,
.mgj_rightbar .mgj_my_wallet a,
.mgj_rightbar .mgj_my_custom a,
.mgj_rightbar .mgj_my_seller a {
  display: block;
  color: #fff;
  text-align: center;
  line-height: 15px;
  border-bottom: 1px solid #000;
  padding-bottom: 10px;
}
.mgj_rightbar .mgj_my_home:hover,
.mgj_rightbar .mgj_my_coupon:hover,
.mgj_rightbar .mgj_my_wallet:hover,
.mgj_rightbar .mgj_my_custom:hover,
.mgj_rightbar .mgj_my_seller:hover {
  background-color: #FF4466;
}
.mgj_rightbar .ext_mode_wrap {
  display: none;
  position: absolute;
  top: 0;
  left: -103px;
}
.mgj_rightbar .ext_mode_wrap .ext_mode {
  width: 79px;
  height: 63px;
  border-radius: 2px 0 0 2px;
  background-color: #494949;
  padding: 10px 0 10px 24px;
  box-sizing: content-box;
}
.mgj_rightbar .ext_mode_wrap .ext_mode a {
  line-height: 20px;
  border-bottom: 0;
  height: 20px;
  padding-bottom: 0;
  text-align: left;
}
.mgj_rightbar .ext_mode_wrap .ext_mode a:hover {
  text-decoration: underline;
}
.mgj_rightbar .ext_mode_wrap .toolbar_bubble {
  display: block;
  width: 0px;
  height: 0px;
  border: 5px solid transparent;
  border-left-color: #494949;
  position: absolute;
  right: -10px;
  top: 30%;
}
.mgj_rightbar .mgj_my_custom:hover .ext_mode_wrap,
.mgj_rightbar .mgj_my_seller:hover .ext_mode_wrap {
  display: block;
}
.mgj_rightbar .sideBottom {
  /*!回到顶部*/
  display: none;
  position: absolute;
  bottom: 10px;
  width: 30px;
  cursor: pointer;
}
.mgj_rightbar .sideBottom a {
  border-top: 1px solid rgba(221, 221, 221, 0.6);
  padding-top: 4px;
  border-bottom: none;
  padding-bottom: 0;
}
.mgj_rightbar .sideBottom i {
  display: block;
  width: 30px;
  height: 30px;
  background-image: url(https://s10.mogucdn.com/p2/161011/upload_8dhi7ll8egg1ee9i12a3fc1lg93b9_609x784.png);
  background-repeat: no-repeat;
  background-position: -270px -279px;
}
#header {
  /*!头部*/
  height: 150px;
  position: relative;
}
.header_top {
  /*!头部导航*/
  height: 33px;
  line-height: 33px;
  color: #999;
  background: #fff;
  border-bottom: 1px solid #F0F0F0;
}
.header_top a {
  color: #999;
  padding: 0px 15px;
}
.header_top .header_nav_home i,
.header_top .header_nav_market i {
  width: 10px;
  height: 12px;
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;
  margin-right: 3px;
  background-size: contain;
}
.header_top .header_nav_home i {
  background-image: url(../img/181226_5f4j2e62hj1kk9dd49f433b08bfbh_20x20.png);
}
.header_top .header_nav_market i {
  background-image: url(../img/181212_4c5eb9ijbla4a1948fhjiiiag725h_20x20.png);
}
.header_top .header_about_us {
  text-align: right;
  padding-left: 15px;
}
.header_top .header_about_us i {
  display: inline-block;
  margin-left: 4px;
  width: 6px;
  height: 6px;
  background-image: url(../img/181205_8eg8ea1a3k85c16ai1hl4735kalkf_16x10.png);
  background-repeat: no-repeat;
  background-size: 100%;
}
.header_top .header_about_us:hover .header_about_us_detail {
  display: block;
}
.header_top .header_about_us_detail {
  display: none;
  position: absolute;
  right: 30px;
  background: #fff;
  z-index: 9999;
  border: 0 solid #E5E5E5;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05);
  border-top: 1px solid #F0F0F0;
  border-radius: 2px;
}
.header_top .mgj_header_copyright {
  width: 960px;
  padding-top: 32px;
  padding-bottom: 32px;
}
.header_top .mgj_header_helper {
  width: 100%;
  margin-left: 42px;
  display: flex;
}
.header_top dl {
  flex: 1;
  text-align: left;
}
.header_top dt {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 23px;
  line-height: 20px;
  overflow: hidden;
}
.header_top .mgj_header_helper_title_border {
  width: 30px;
  height: 1px;
  background: #999;
  margin-top: 4px;
}
.header_top dd p {
  font-size: 12px;
  width: 80px;
  height: 17px;
  line-height: 17px;
  font-weight: 300;
  margin-bottom: 12px;
}
.header_top dd p a {
  color: #333;
  padding: 0px;
}
.header_top dd p a:hover {
  color: orange;
}
.header_top dd p:last-child {
  margin-bottom: 0px;
}
.header_top dd .mgj_header_helper_item_last {
  position: relative;
}
.header_top dd .mgj_header_helper_item_last .mgj_header_helper_quoer_code {
  position: absolute;
  display: none;
  height: 70px;
  width: 70px;
  top: -14px;
  left: -70px;
  overflow: hidden;
}
.header_top dd .mgj_header_helper_item_last:hover .mgj_header_helper_quoer_code {
  display: block;
}
.header_top .mgj_header_hostname {
  font-weight: 100;
  margin-top: 28px;
  text-align: center;
  display: flex;
  position: relative;
  margin-left: 42px;
  margin-right: 42px;
}
.header_top .mgj_header_hostname span {
  padding: 0 26px;
  color: #666;
}
.header_top .mgj_header_hostname b {
  flex: 1;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  font-weight: 100;
  transform: translate(0, 50%);
}
.header_top .mgj_header_copyright {
  margin-top: 6px;
  text-align: center;
  font-size: 12px;
  line-height: 26px;
  font-weight: 300;
  color: #999;
}
.header_top .mgj_header_copyright b {
  margin: 0 5px;
  font-weight: 400;
}
.header_top .mgj_header_copyright a {
  color: #999;
}
.header-wrap {
  width: 1200px;
  height: 100px;
  margin: 0 auto;
}
.header-wrap a {
  float: left;
}
.header-wrap a img {
  width: 130px;
  height: 100%;
}
.header-wrap .header-category {
  float: left;
  margin-left: 30px;
  font-size: 15px;
  line-height: 100px;
  color: #333;
}
.header-wrap .header-category .header-content img {
  width: 18px;
  height: 12px;
}
.header-wrap .header-category .header-content .header-content-category {
  display: none;
}
.header-wrap .header-category .header-content:hover .header-content-category {
  display: block;
}
.header-wrap .search-nav-content {
  float: right;
  width: 915px;
  height: 76px;
}
.header-wrap .search-nav-content .normal-nav-content {
  float: left;
  margin-top: 26px;
  height: 48px;
}
.header-wrap .search-nav-content .normal-nav-content form {
  width: 522px;
  height: 48px;
}
.header-wrap .search-nav-content .normal-nav-content form input:nth-of-type(1) {
  height: 48px;
  width: 460px;
}
.header-wrap .search-nav-content .normal-nav-content form input:nth-of-type(2) {
  width: 58px;
  height: 48px;
}
.header-wrap .search-nav-content .site-top-nav {
  float: right;
  width: 342px;
  height: 50px;
  margin-top: 26px;
}
.header-wrap .search-nav-content .site-top-nav ul {
  margin-top: 5px;
}
.header-wrap .search-nav-content .site-top-nav ul li {
  float: left;
  width: 35px;
  height: 45px;
  margin-right: 30px;
}
.header-wrap .search-nav-content .site-top-nav ul li a img {
  width: 24px;
  height: 24px;
}
.header-wrap .search-nav-content .site-top-nav ul li a p {
  font-size: 10px;
  text-align: center;
}
.header-wrap .search-nav-content .site-top-nav ul li:nth-of-type(4) > img {
  width: 200px;
  height: 200px;
  margin-left: -80px;
  margin-top: 10px;
  display: none;
}
.header-wrap .search-nav-content .site-top-nav ul li:nth-of-type(4):hover > img {
  display: block;
}
.header-wrap .search-nav-content .site-top-nav .header-user-info {
  float: right;
  margin-top: 5px;
}
.header-wrap .search-nav-content .site-top-nav .header-user-info a {
  height: 30px;
}
.header-wrap .search-nav-content .site-top-nav .header-user-info a img {
  width: 30px;
  height: 30px;
}
#body_wrap {
  width: 100%;
  height: 500px;
}
#body_wrap .main_topnav_content {
  font-size: 20px;
  width: 1200px;
  height: 40px;
  margin: 0 auto;
}
#body_wrap .main_topnav_content .indexLeftLink {
  float: left;
  width: 257px;
  height: 40px;
  background: url(../images/ztsc.png);
  position: relative;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
#body_wrap .main_topnav_content .indexLeftLink a {
  position: absolute;
  left: 50px;
  top: 5px;
}
#body_wrap .main_topnav_content .indexRightLink {
  float: left;
  line-height: 40px;
  margin-left: 40px;
}
#body_wrap .module_row {
  height: 440px;
  width: 100%;
  background: #ffc5c3;
  margin: 0 auto;
}
#body_wrap .module_row .pc_banner_wrapper {
  margin: 0 auto;
  height: 100%;
  width: 1200px;
  position: relative;
}
#body_wrap .module_row .pc_banner_wrapper .pc_indexPage_nav_menu {
  width: 256px;
  height: 100%;
  float: left;
  background-color: rgba(255, 255, 255, 0.8);
}
#body_wrap .module_row .pc_banner_wrapper .pc_indexPage_nav_menu .nav_list .nav_list_row {
  height: 31px;
  width: 100%;
}
#body_wrap .module_row .pc_banner_wrapper .pc_indexPage_nav_menu .nav_list .nav_list_row .nav_wrap {
  line-height: 31px ;
}
#body_wrap .module_row .pc_banner_wrapper .pc_indexPage_nav_menu .nav_list .nav_list_row .nav_wrap .nav_list_title {
  float: left;
  font-weight: 900;
  margin-left: 18px ;
  margin-right: 10px;
  font-size: 16px;
}
#body_wrap .module_row .pc_banner_wrapper .pc_indexPage_nav_menu .nav_list .nav_list_row .nav_wrap .nav_list_content {
  float: left;
}
#body_wrap .module_row .pc_banner_wrapper .pc_indexPage_nav_menu .nav_list .nav_list_row .nav_wrap .nav_list_content a {
  margin-right: 15px;
}
#body_wrap .module_row .pc_banner_wrapper .pc_indexPage_nav_menu .nav_list .nav_list_row:hover {
  background-color: white;
}
#body_wrap .module_row .item_slider {
  float: left;
  width: 768px;
  height: 100%;
}
#body_wrap .module_row .item_slider img {
  width: 768px;
  height: 440px;
}
#body_wrap .module_row .user_info {
  float: left;
  width: 166px ;
  height: 420px;
  margin-top: 10px;
}
#body_wrap .module_row .user_info .base_info {
  width: 100%;
  height: 205px;
  background: #f2f0fd;
  margin-bottom: 10px;
  overflow: hidden;
}
#body_wrap .module_row .user_info .base_info .nofollow {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: pink;
  margin: 0 auto;
  margin-top: 25px;
}
#body_wrap .module_row .user_info .base_info .nofollow img {
  margin-top: 3px;
  margin-left: 10px;
}
#body_wrap .module_row .user_info .base_info .welcome span {
  margin-top: 18px;
  margin-left: 10px;
}
#body_wrap .module_row .user_info .base_info .welcome span:nth-of-type(2) {
  font-weight: 700;
}
#body_wrap .module_row .user_info .base_info .privilid-text {
  border: 1px solid red;
  width: 60px;
  margin-left: 50px ;
  padding: 5px;
  margin-top: 10px;
  color: red;
  background: pink;
}
#body_wrap .module_row .foot_wrapper {
  padding-top: 25px;
  width: 100%;
  height: 205px;
  background: #f2f0fd;
  margin: 0 auto;
}
#body_wrap .module_row .foot_wrapper p {
  font-size: 20px;
  text-align: center;
  margin-bottom: 8px;
}
#body_wrap .module_row .foot_wrapper .foot-hao {
  width: 100px;
  border: 1px solid black;
  text-align: center;
  margin-left: 30px;
  background: pink;
  margin-top: 25px;
}
#body_wrap .module_row_bq {
  width: 1200px;
  height: 454px;
  background: cyan;
  margin: 0 auto;
}
#body_wrap .module_row_bq .slider-wrap {
  width: 100%;
  height: 295px;
  background: darkcyan;
}
#body_wrap .module_row_bq .bottom-sell {
  margin-top: 10px;
  height: 150px;
}
#body_wrap .module_row_bq .bottom-sell a img {
  height: 150px;
  width: 230px;
  margin-right: 7px;
}
#body_wrap .module_row_bq .bottom-sell .bs-1 img {
  width: 470px;
}
.hcolor {
  color: red;
}
.hcolor img {
  width: 12px;
  height: 12px;
}
